azure-cli
keyrings.alt
azure-search-documents
jinja2
promptflow
promptflow-tools
azure-search-documents
azure-ai-ml
azure-identity
chainlit
dotenv
pypdf
azure-storage-blob
azure-ai-formrecognizer
unstructured[all-docs]